<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.eoinrul.ecwt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"
            android:label="@string/about_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrainingResultsActivity"
            android:label="@string/training_results_activity_label"
            android:parentActivityName=".LevelSelectActivity" />
        <activity
            android:name=".TrainingActivity"
            android:label="@string/training_activity_label"
            android:parentActivityName=".LevelSelectActivity" />
        <activity
            android:name=".LevelSelectActivity"
            android:label="@string/level_select_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SounderActivity"
            android:label="@string/sounder_activity_label"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
